
.menu {
    -fx-selection-bar: lightgray;
}

.menu .label {
    -fx-text-fill: #ff756b;
}

.menu:focused .label {
    -fx-text-fill: white;
}

.menu .menu-item:focused {
    -fx-background-color: #ff756b;
}

.menu .menu-item .label {
    -fx-background-color: white;
    -fx-text-fill: #ff756b;
}

.menu .menu-item:focused > .label {
    -fx-text-fill: white;
    -fx-background-color: #ff756b
}