.button {
    -fx-background-color: #ff756b;
    -fx-text-fill: white;
}

/*.button-bar {*/
/*    -fx-background-color: #ff756b;*/
/*}*/

.text-field {
    -fx-background-color: #ff756b;
    -fx-text-fill: white;
}


.header-panel {
    -fx-background-color: #ff756b;
    -fx-text-fill: white;
}

.header-panel .label {
    -fx-text-fill: white;
}


.button:pressed {
    -fx-background-color: #ff594d;
    -fx-opacity: 0.80;
}

.button:hover {
    -fx-opacity: 0.80;
}