.combo-box{
    -fx-background-color: #ff756b;
    -fx-mark-color:  white;
}

.combo-box:hover{
    -fx-opacity: 0.8;
}

.combo-box .label {
   -fx-text-fill: white;
}

.combo-box .list-cell {
    -fx-text-fill: #ff756b;
}

.combo-box .list-cell:focused {
    -fx-text-fill: white;
    -fx-background-color: #ff756b;

}

.combo-box .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: #ff756b;
}


